<!DOCTYPE html>
<html>
<head>
<title>Nugget Analysis</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata">
<style>
body, html {
  height: 100%;
  font-family: "Inconsolata", sans-serif;
}

.bgimg {
  background-position: center +90px;
  background-size: cover;
  background-image: url("../images/fromWeb/jokic_westbrook.avif");
  min-height: 100%;
}

.menu {
  display: none;
}
</style>
</head>
<body>

<!-- Links (sit on top) -->
<div class="w3-top">
  <div class="w3-row w3-padding w3-black">
    <div class="w3-col s3">
      <a href="#introduction" class="w3-button w3-block w3-black">Introduction</a>
    </div>
    <div class="w3-col s3">
      <a href="#data" class="w3-button w3-block w3-black">Data Preparation</a>
    </div>
    <div class="w3-col s3">
      <a href="#model1" class="w3-button w3-block w3-black">Model 1 TBD</a>
    </div>
    <div class="w3-col s3">
      <a href="#model2" class="w3-button w3-block w3-black">Model 2 TBD</a>
    </div>
    <div class="w3-col s3">
      <a href="#model3" class="w3-button w3-block w3-black">Model 3 TBD</a>
    </div>
    <div class="w3-col s3">
      <a href="#conclusion" class="w3-button w3-block w3-black">Conclusions</a>
    </div>
  </div>
</div>

<!-- Header with image -->
<header class="bgimg w3-display-container w3-grayscale-min" id="home">
  <div class="w3-display-bottomleft w3-center w3-padding-large w3-hide-small">
    <a href="https://www.nba.com/nuggets/photos" class="w3-tag">Photo Credits to the NBA</a>
  </div>
  
  <div class="w3-display-bottomright w3-center w3-padding-large">
    <span class="w3-text-white">Nikola Jokić and Russell Westbrook</span>
  </div>
</header>

<!-- Add a background color and large text to the whole page -->
<div class="w3-sand w3-grayscale w3-large">

<!-- Introduction Container -->
<div class="w3-container" id="introduction">
  <div class="w3-content" style="max-width:700px">
    <h5 class="w3-center w3-padding-64"><span class="w3-tag w3-wide">Introduction</span></h5>
    <p>Paragraph1</p>
    <p>Paragraph2</p>
    
  </div>
</div>

<!-- Data Preparation Container -->
<div class="w3-container" id="data">
  <div class="w3-content" style="max-width:700px">
    <h5 class="w3-center w3-padding-64"><span class="w3-tag w3-wide">Data Preparation and Cleaning</span></h5>
    <p>Paragraph1</p>
    <p>Paragraph2</p>

  </div>
</div>


<!-- Model 1 Container -->
<div class="w3-container" id="model1">
  <div class="w3-content" style="max-width:700px">
    <h5 class="w3-center w3-padding-64"><span class="w3-tag w3-wide">Model 1</span></h5>
  </div>
</div>

<!-- Model 2 Container -->
<div class="w3-container" id="model2">
  <div class="w3-content" style="max-width:700px">
    <h5 class="w3-center w3-padding-64"><span class="w3-tag w3-wide">Model 2</span></h5>
  </div>
</div>

<!-- Model 3 Container -->
<div class="w3-container" id="model3">
  <div class="w3-content" style="max-width:700px">
    <h5 class="w3-center w3-padding-64"><span class="w3-tag w3-wide">Model 3</span></h5>
  </div>
</div>

<!-- Conclusion Container -->
<div class="w3-container" id="conclusion">
  <div class="w3-content" style="max-width:700px">
    <h5 class="w3-center w3-padding-64"><span class="w3-tag w3-wide">Conclusion</span></h5>
    <div class="w3-panel w3-leftbar w3-light-grey">
      <p><i>This is good for a quote.</i></p>
      <p>--quote author--</p>
    </div>
    <p><strong>Strong tag makes text bold:</strong> Good for headers.</p>
  </div>
</div>


<!-- End page content -->
</div>

<!-- Footer -->
<footer class="w3-center w3-light-grey w3-padding-48 w3-large">
  <p>This analysis is done for the University of Colorado, Boulder, as part of the curriculum for CS 5612</p>
  <p>Template provided <a href="https://www.w3schools.com/w3css/default.asp" title="W3.CSS" target="_blank" class="w3-hover-text-green">w3.css</a></p>
</footer>



</body>
</html>
